html {
  box-sizing: border-box;
}

*,*:before,*:after{box-sizing:inherit}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* overflow: hidden; */
}

.student__testimony {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40em;
  height: 15rem;
  left: 50px;
}

.student__identity {
  color:hsl(240, 38%, 20%);
  font-weight: 700;

}

#profession {
  color: hsl(240, 18%, 77%);
}

.testimony {
  color:hsl(240, 38%, 20%);
  font-size: 32px;
  font-weight: 300;
}

#quotes__image {
  z-index: -1;
  position: absolute;
  width: 80px;
  height: 70px;
  top: -5px;
  left: 15%;
}

#curve__image {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.right__section {
  display: flex;
  box-shadow: 3px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

#background__image {
  height: 37em;
  width: 40em;
  position: absolute;
  z-index: -1;
  top: 12%;
  left: 50%;
}

.student__picture {
  width: 30em;
  height: 30em;
  object-fit: cover;
}

.slide__buttons {
  position: absolute;
  border-radius: 50%;
  bottom: 17%;
  right: 35%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;
}

.btn__prev {
  border-radius: 50px 0 0 50px;
}

.btn__next {
  border-radius: 0 50px 50px 0;
  margin-left: -4px;
}

.btn__img {
  width: 10px;
  height: 12px;
}

@media screen and (max-width: 375px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .student__testimony {
    max-width: 18em;
    max-height: 10em;
    position: inherit;
    align-items: center;
  }

  .testimony {
    font-size: 16px;
    text-align: center;
  }

  span {
    font-size: 12px;
  }

  #curve__image {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    max-width: 15em;
  }

  #quotes__image {
    z-index: -1;
    max-width: 40px;
    max-height: 35px;
    align-self: center;
    position: inherit;
    margin-bottom: -2em;
  }

  #background__image {
    max-height: 18em;
    max-width: 20em;
    z-index: -1;
    top: 13%;
    left: 8%;
  }

  .student__picture {
    max-width: 15em;
    max-height: 15em;
  }

  .slide__buttons {
    top: 46%;
    right: 40%;
  }
}